
<body ng-app="noticiaApp">

<div id='detalle' class="container" ng-controller="mainController" data-ng-init="detalleNoticia()">

    <div class="col-sm-5 col-sm-offset-2 col-md-12 col-md-offset-0">
        <div class="clearfix">
            <div id="contenidoDetalle">
                <h2><u>{{noticiaDetalle.titulo}}</u></h2>
                <img src={{noticiaDetalle.img}}>
                <h4><p ng-bind-html="noticiaDetalle.descripcion | linky "> </p></h4>
                <p> Fecha: {{noticiaDetalle.fecha}}</p>
                <p id="atras"><a href="#/noticias">&lt;&lt; Atrás</a> </p>
            </div>
        </div>
    </div>

</div>

