body {
    padding-top:70px;
    width: 100%;
    height: 100%;
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color: #21425c;
}

a, h2 {
    color: #21425c;
}

h4 {
    color: #E6FDFF;
}

.submit-btn {
    background-color: #b1dbff;
    margin: 10px 0 10px 0;
}

.post {
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.odd {
    background-color: #db8f59;
    border-radius: 10px;
}
.even {
    background-color: #db6e59;
    border-radius: 10px;
}

.form-auth {
    max-width: 330px;
    padding: 5px;
    margin: 0 auto;
}

#textarea {
	height:100%;
}

div#json {
  background-color: #373737;
  color: white;
}

div#contenido {
  background-color: #db6e59;
  color: white;
    border-radius: 10px;
}

h4, h2 , p, a, img{
	padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 5px;
}

#logo {
	padding-left:430px;
}

#logo img{
	width: 360px;
	height: 100px;
}

dir-pagination-controls {
    padding-left: 10px;
}

#contenidoDetalle {
    border-radius: 10px;
    background-color: #db6e59;
}

#contenidoDetalle img{
    float: left;
    margin-right: 10px;
    border-radius: 10%;
}

#contenidoDetalle h2{
    color: #21425c;
}

#contenidoDetalle p{
    color: #E6FDFF;
}

h2:hover , a:hover {
    color: #E6FDFF;
}

#atras {
    bottom:0px;
    left:0px;
}

#contenido img {
    border-radius: 10%;
}